<html>
 <head>
    <%- include ("./partials/head") %>
    <title>Not Found</title>

</head>
    <body>

        <%- include ("./partials/header") %>
        
        <div>error no me la contes</div>

        <%- include ("./partials/footer") %>

    </body>
</html>