<!DOCTYPE html>
<html lang="es">
<head>
    <%- include ("../partials/head") %>
    <title> Como Comprar</title>

</head>
<body>

    <%- include ("../partials/header.ejs") %>

  <main>
<div class="contenedorMain">  <!-- Contenedor padre del Main-->

    <div class= "contMainA">  <!-- Contenedor del "Elegi" del Main-->
        <img src= "/images/users/icono-tienda.png" >
        <h2> Elegí </h2>
        <p> Seleccioná los productos que quieras, agregalos al carrito o elegí la opción Comprar ahora.</p>
    </div>
    <div class= "lineaVertical"> </div>  <!-- linea divisoria que se ve cuando estas en escritorio-->
    <div class= "contMainB">  <!-- Contenedor del "Paga" del Main-->
        <img src= "/images/users/icono-tarjetas.png">
        <h2> Pagá </h2>
        <p>Procesamos tu compra en nuestra tienda utilizando la tecnología de Mercado Libre. Te llevaremos para que realices el pago de forma ágil y segura a través de pagos con débito, crédito y efectivo.</p>
    </div>
    <div class= "lineaVertical"> </div> <!-- linea divisoria que se ve cuando estas en escritorio-->
    <div class= "contMainC">  <!-- Contenedor del "Recibe" del Main-->
        <img src= "/images/users/icono-caja.png">
        <h2> Recibe </h2>
        <p>Elegí la forma de entrega que prefieras... ¡y listo!</p>
    </div>

</div>

  </main>

  <%- include ("../partials/footer") %>
  
</body>
</html> 