<!DOCTYPE html>
<html lang="es">
<head>
    <title>Contacto </title>
    <%- include ("../partials/head") %>
</head>
    <body>

    <%- include ("../partials/header") %>

    <main class="contacto">
        <h1 class="titulo"> Te dejamos nuestro contacto: </h1>
        <div class="contenedorPrincipal">
            <div class="contenedorPreguntas">
                
                <h3 class='preguntas'> <img  src="/images/users/logoGmail.png" > Mail</h3>
                <p class="respuesta">cuchytoyscontacto@gmail.com</p>
    
                <h3 class='preguntas'> <img  src="/images/users/logoWpp.png" >Whatsapp</h3>
                <p class="respuesta">+54 911 27284692</p>

                <h3 class='preguntas'><img  src="/images/users/icono-tienda.png" >Local a la calle</h3>
                <p class="respuesta">Av. Rivadavia 5652</p>
            </div>
        </div>
    </main>


    <%- include ("../partials/footer") %>

</body>
</html> 