<!DOCTYPE html>
<html lang="es">
<head>
    <title>Carrito de compras </title>
    <%- include ("../partials/head") %>
</head>
    <body>

    <%- include ("../partials/header") %>

    <main class="preguntasFrecuentes">
        <h1 class="titulo">Preguntas Frecuentes</h1>
        <div class="contenedorPrincipal">
                <p>Esperamos que esto responda todas sus dudas.</p>
                <p>Si tiene cualquier otra duda no dude en preguntarnos a nuestro Whatsapp, teléfono, mail o redes sociales!</p>
            <div class="contenedorPreguntas">
                <div class='preguntas'>¿pregunta 1?</div>
                <p class="respuesta">respuesta</p>
                <div class='preguntas'>¿pregunta 1?</div>
                <p class="respuesta">respuesta</p>
                <div class='preguntas'>¿pregunta 1?</div>
                <p class="respuesta">respuesta</p>
                <div class='preguntas'>¿pregunta 1?</div>
                <p class="respuesta">respuesta</p>
                <div class='preguntas'>¿pregunta 1?</div>
                <p class="respuesta">respuesta</p>
            </div>
        </div>
    </main>


    <%- include ("../partials/footer") %>

</body>
</html> 