<!DOCTYPE html>
<html lang="es">
<head>
    <title>Preguntas Frecuentes </title>
    <%- include ("../partials/head") %>
</head>
    <body>

    <%- include ("../partials/header") %>

    <main class="preguntasFrecuentes">
        <div class = "contQS">
            <h1 class="titulo"> 
                <img class= "imgQS" src= "/images/users/iconoPreguntas.png"> 
                 <h1>Te dejamos algunas preguntas frecuentes... </h1>
                 <img class= "imgQS" src= "/images/users/iconoPreguntas.png"></h1>
                </div>
        <div class="contenedorPrincipal">
                <p>Esperamos que esto responda todas sus dudas.</p>
                <p>Si tiene cualquier otra duda no dude en preguntarnos a nuestro Whatsapp, teléfono, mail o redes sociales!</p>
            <div class="contenedorPreguntas">
                
                <div class='preguntas'>¿pregunta 1?</div>
                <p class="respuesta">respuesta</p>
                <div class='preguntas'>¿pregunta 1?</div>
                <p class="respuesta">respuesta</p>
                <div class='preguntas'>¿pregunta 1?</div>
                <p class="respuesta">respuesta</p>
                <div class='preguntas'>¿pregunta 1?</div>
                <p class="respuesta">respuesta</p>
                <div class='preguntas'>¿pregunta 1?</div>
                <p class="respuesta">respuesta</p>
            </div>
        </div>
    </main>


    <%- include ("../partials/footer") %>

</body>
</html> 