<!DOCTYPE html>
<html lang="es">
<head>
    <title> Quiénes somos </title>
    <%- include ("../partials/head") %>
</head>
    <body>

    <%- include ("../partials/header") %>

    <main class="preguntasFrecuentes">
        <div class = "contQS">
        <h1 class="titulo"> 
            <img class= "imgQS" src= "/images/users/iconoConocer.png"> 
             <h1>Vamos a conocernos un poco más... </h1>
             <img class= "imgQS" src= "/images/users/iconoConocer.png"></h1>
            </div>
        <div class="contenedorPrincipal">
            <div class="contenedorPreguntas">
                
                <div class='preguntas'>¿Quiénes son los dueños de CuchyToys?</div>
                <p class="respuesta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quidem quo, cumque praesentium, nam qui sapiente nostrum, aperiam officiis quasi debitis in. Quibusdam animi excepturi nulla modi soluta corporis voluptas.</p>
                <div class='preguntas'>¿Por qué eligen hacer juguetes para niños?</div>
                <p class="respuesta">Lorem ipsum dolor sit amet consectetur adipisicing elit. In exercitationem debitis unde porro odio possimus ad nemo eos! Non, cupiditate ea! Architecto dolorum quibusdam, blanditiis repudiandae est consectetur enim doloremque.</p>
                <div class='preguntas'>¿Por qué creen que son tan importantes unos buenos juguetes?</div>
                <p class="respuesta">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi vitae culpa consequuntur porro non inventore vero nemo, reprehenderit, laboriosam sint magni explicabo veniam officia asperiores facilis soluta sapiente nesciunt voluptatem.</p>
                <div class='preguntas'>¿Por qué están tan comprometidos con el medio ambiente?</div>
                <p class="respuesta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis aliquid qui, officiis voluptatem, labore tempora tenetur ex at nobis minima asperiores officia dolorem iste commodi amet. Nam vel nesciunt dolore?</p>

            </div>
        </div>
    </main>


    <%- include ("../partials/footer") %>

</body>
</html> 